@keyframes strike {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.strike {
  position: relative;
  width: fit-content;
}

.strike:after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  background: black;
  animation-name: strike;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.icon-done {
  margin: 4px;
  padding: 4px;
  background: gray;
  border-radius: 2px;
  color: white;
}
